{% extends "layout.html" %}
{% block headContent %}
    <script src="{{ url_for('static', filename='Scripts/libraries/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/libraries/p5.dom.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/libraries/p5.sound.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='Scripts/graph.js') }}"></script>
{% endblock headContent %}
{% block content %}
{% endblock %}